body {
    background-color: #bd8544;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 0;
    margin: 0;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 3px double black;
    border-radius: 20px;
    margin: auto;
}

#container h1 {
    font-size: 20px;
}