body {
    background-color: #333;
    color: #85dcaa;
    font-family: courier;
    font-size: 16px;
    text-align: center;
    padding: 0;
    margin-top: 10px;
}

#cabecera {
    background-color: #74302b;
    box-shadow: 5px 0px 10px 1px #85dcaa;
    color: #85dcaa;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    border-radius: 5px;

}

#cabecera #tagline {
    margin: 0 0 0 1em;
    padding: 1em 0 0 0;
    font-weight: normal;
    font-size: 0.8em;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 3px double black;
    border-radius: 20px;
    margin: auto;
}

#container h1 {
    font-size: 20px;
}

#footer
{
    background: #37488b;
    color: white;
    text-align: center;
    padding: 0.5em;
}